.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.spinner-circle {
  border-style: solid;
  border-top-color: transparent !important;
  border-radius: 50%;
  animation: spinnerRotate 0.7s linear infinite;
}

@keyframes spinnerRotate {
  to {
    transform: rotate(360deg);
  }
}
